{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="juggling balls">Back</a>

      <h1 class="heading-large">
        You cannot juggle
      </h1>

      <p>You are not allowed to juggle and will be haunted by the withered ghost of Debbie MacGee and Paul Daniels.</p>

      <p>You can appeal to get <a href="/url/of/onward/page"> a different licence and stop the apparitional haunting</a>.</p>

    </div>
  </div>
</main>

{% endblock %}
